<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        SPK pariwisata Pacitan
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />

</head>

<body>
    <noscript>
      <strong>We're sorry but SPK pariwisata Pacitan doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app">

        <!---- loading ---->
        <div id="loading-page" v-show="page.name == 'loading-page'">
            <div class="hide-on-med-and-up">
                <br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">
                        <img src="./img/app_icon.jpg" class="responsive-img" /><br />

                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div><div class="gap-patch">
                                <div class="circle"></div>
                              </div><div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                          </div>

                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>
            
        </div>
        

        <!---- category ---->
        <div id="category-page" v-show="page.name == 'category-page'">


            <div class="hide-on-med-and-up">
                <br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div v-for="category in categories" v-bind:key="category.id">
                <div class="center container">
                    <div class="row">
                        <div class="col m2 l4"></div>
                        <div class="col s12">   
                            <a v-on:click="chooseCategory(category.id)"><h4>{{ category.nama }}</h4></a>
                        </div>
                        <div class="col m2 l4"></div>
                    </div>
                </div>
            </div>


        </div>

        <!---- criteria ---->
        <div id="criteria-page" v-show="page.name == 'criteria-page'">

            <div class="hide-on-med-and-up">
                <br /><br /><br /><br /><br /><br /><br /><br />
            </div>

            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">   

                        <a class='dropdown-trigger' href='#' data-target='facility-option'>{{ param.fasilitas.label }}</a>
                        <ul id='facility-option' class='dropdown-content'>
                            <div v-for="facility in facilities" v-bind:key="facility.id" >
                                <li><a v-on:click="param.fasilitas.label = facility.nama;param.fasilitas.value = facility.id">{{ facility.nama }}</a></li>
                            </div>
                        </ul>
                        <br />
                        <input :placeholder="param.tiket_masuk.label" type="number" v-model="param.tiket_masuk.value">
                        <br />
                        <input :placeholder="param.jarak.label" type="number" v-model="param.jarak.value">
                        <br />
                        <input :placeholder="param.umur.label" type="number" v-model="param.umur.value">
                        <br />
                        <a class="waves-effect waves-light btn" v-on:click="getResult">Cari</a>
                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>
            
            
        </div>
        

        <!---- result ---->
        <div id="result-page" v-show="page.name == 'result-page'">

            <div class="hide-on-med-and-up">
                <br /><br /><br /><br /><br /><br /><br /><br />
            </div>
            <div v-show="index < 2" v-for="(result,index) in results" v-bind:key="result.id">
                <div class="center container">
                    <div class="row">
                        <div class="col m2 l4"></div>
                        <div class="col s12">   
                            <h4>{{ result.nama }}</h4>
                        </div>
                        <div class="col m2 l4"></div>
                    </div>
                </div>
            </div>            


        </div>

        <!---- detail ---->
        <div id="detail-page" v-show="page.name == 'detail-page'">
            
        </div>
    </div>
    <!-- built files will be auto injected -->

    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const baseURL = "http://localhost:80/api/"
        new Vue({
            el: '#app',
            data() {
                return {
                    page : {
                        name : "loading-page",
                    },
                    category_choosed : 0,
                    categories : [],
                    facilities : [],
                    param : {
                        jarak : {
                            label : "Jarak",
                            value : ""
                        },
                        tiket_masuk : {
                            label : "Tiket Masuk",
                            value : ""
                        },
                        fasilitas : {
                            label : "Fasilitas Wisata",
                            value : ""
                        },
                        umur : {
                            label : "Pilih Umur",
                            value : ""
                        },
                    },
                    results : []
                }
            },
            mounted () {
                window.$('.dropdown-trigger').dropdown();
                setTimeout(() => this.page.name = "category-page", 500);
                this.getCategoryData()
            },
            computed : {

            },
            methods : {
                switchPage(name){
                    this.page.name = name
                },
                chooseCategory(value){
                    this.category_choosed = value
                    this.getFacilitiesData();
                },
                getCategoryData(){
                    
                    axios
                        .get(baseURL + 'all_kategori.php?search_by=nama&search_value=&order_by=nama&order_dir=asc&offset=0&limit=10')
                        .then(response => {
                            
                            this.categories = response.data.data
                        })
                        .catch(errors => {

                            console.log(errors)
                        })  
                },
                getFacilitiesData(){

                    this.switchPage("loading-page")
                    axios
                        .get(baseURL + 'all_fasilitas.php?search_by=nama&search_value=&order_by=nama&order_dir=asc&offset=0&limit=10')
                        .then(response => {
                            
                            this.facilities = response.data.data
                            this.switchPage("criteria-page")
                        })
                        .catch(errors => {

                            console.log(errors)
                            this.switchPage("criteria-page")
                        })  
                },
                getResult(){

                    this.switchPage("loading-page")

                    this.param.umur = this.category_choosed != 1 ? 0 : this.param.umur

                    let req = baseURL + 'all_data_pariwisata_spk.php?kategori_id='+ this.category_choosed +'&fasilitas_id='+ this.param.fasilitas.value +'&tiket_masuk='+ this.param.tiket_masuk.value +'&jarak='+ this.param.jarak.value +'&umur='+ this.param.umur.value
                    console.log(req)
                    
                    axios
                        .get(req)
                        .then(response => {
                            
                            this.results = response.data.data
                            this.switchPage("result-page")
                        })
                        .catch(errors => {

                            console.log(errors)
                            this.switchPage("result-page")
                        })  
                },
                onBackPress(){
                    
                    if (this.page.name == "detail-page"){
                        this.switchPage("result-page")
                    } else if (this.page.name == "result-page"){
                        this.switchPage("criteria-page")
                    } else if (this.page.name == "criteria-page"){
                        this.switchPage("category-page")
                    }
                }
            }
        })

    </script>
</body>

</html>