<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>
        SPK pariwisata Pacitan
    </title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="./css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
    <style>
        #bg_pc {
            position: fixed;
            background-image: url('./img/bg.jpg');
            background-clip: border-box;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;            
        }

        #bg_mobile {
            position: fixed;
            background-image: url('./img/bg_mobile.jpg');
            background-clip: border-box;
            background-repeat: no-repeat;
            background-size: cover;
            z-index: -1;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;            
        }

        .custom-text-on-image-container {
            position: relative;
            text-align: center;
        }
        .custom-text-on-image-centered {
            position: absolute;
        }
        .OfflineWarning {
            overflow: hidden;
            position: fixed;
            top: 25px;
            width: 100%;
            font-size: 32px;
            z-index: 10;
        }
        .bounce-enter-active {
            animation: bounce-in .5s;
        }
        .bounce-leave-active {
            animation: bounce-in .5s reverse;
        }
        @keyframes bounce-in {
            0% {
                transform: scale(0);
            }
            50% {
                transform: scale(1.5);
            }
            100% {
                transform: scale(1);
            }
        }

    </style>
</head>

<body>
    <noscript>
      <strong>We're sorry but SPK pariwisata Pacitan doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>  
    <div id="app">
        <div id="bg_pc" class="hide-on-small-only" v-show="page.name != 'loading-page' && page.name != 'result-page'"></div>
        <div id="bg_mobile" class="hide-on-med-and-up" v-show="page.name != 'loading-page' && page.name != 'result-page'"></div>
        
        <div class="OfflineWarning">
            <transition name="bounce">
                <div class="container center" v-show="!is_online" v-on:click="is_online = true">
                    <div class="row">
                        <div class="col s12 m2"></div>
                        <div class="col s12 m8">
                            <div class="chip red white-text center">
                                <span class="white-text">Perangkat Anda Sedang Offline! 
                                </span>
                            </div>
                        </div>
                        <div class="col s12 m2"></div>
                    </div>
                </div>
            </transition>
        </div>


        <!---- loading ---->
        <div id="loading-page" v-show="page.name == 'loading-page'">

            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">
                        <br /><br /><br /><br />
                        <br /><br /><br /><br />
                        <img src="./img/logoa.png" class="responsive-img" width="500" height="200" />
                        <br />

                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                              <div class="circle-clipper left">
                                <div class="circle"></div>
                              </div><div class="gap-patch">
                                <div class="circle"></div>
                              </div><div class="circle-clipper right">
                                <div class="circle"></div>
                              </div>
                            </div>
                          </div>

                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>
            
        </div>
        
        <!---- category ---->
        <div id="category-page" v-show="page.name == 'category-page'">

            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">
                        <img src="./img/logoa_white.png" class="responsive-img" height="200" width="400" />
                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>

            <div v-for="category in categories" v-bind:key="category.id">
                <div class="container">
                    <div class="row">
                        <div class="col m2 l4"></div>
                        <div class="center col s12">
                            <img style="cursor: pointer;" v-on:click="chooseCategory(category.id)" :src="category.img" class="responsive-img" height="80" width="300"/>
                        </div>
                        <div class="col m2 l4"></div>
                    </div>
                </div>
            </div>


        </div>
        
        <!---- criteria ---->
        <div id="criteria-page" v-show="page.name == 'criteria-page'">

            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">
                        <img src="./img/logoa_white.png" class="responsive-img" height="200" width="400" /><br />
                        <img src="./img/kriteria_logo.png" class="responsive-img" height="80" width="250" />
                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>

            <div class="center container">
                <div class="row">
                    <div class="col m1 l2"></div>
                    <div class="col s12 m10 l8">   
                        <div class="center custom-text-on-image-container">
                            <h6 class='col s12 dropdown-trigger white-text custom-text-on-image-centered' href='#' data-target='facility-option'>{{ param.facility.label }}</h6>
                            <img src="./img/dropdown.png" class="center col s12" height="50" />
                        </div>
                        
                         <ul id='facility-option' class='dropdown-content'>
                            <div v-for="facility in facilities" v-bind:key="facility.id" >
                                <li>
                                    <a class="black white-text" v-on:click="param.facility.label = facility.name;param.facility.value = facility.id">{{ facility.name }}</a>
                                </li>
                            </div>
                        </ul>

                    </div>
                    <div class="col m1 l2"></div>
                </div>
            </div>

            <div class="center container">
                <div class="row">
                    <div class="col m1 l2"></div>
                    <div class="col s12 m10 l8">   
                        <div class="center custom-text-on-image-container">
                            <h6 class='col s12 dropdown-trigger white-text custom-text-on-image-centered' href='#' data-target='ticket_price-option'>{{ param.ticket_price.label }}</h6>
                            <img src="./img/dropdown.png" class="center-align col s12" height="50" />
                        </div>
                        
                        <ul id='ticket_price-option' class='dropdown-content'>
                            <div v-for="ticket_price in ticket_prices" v-bind:key="ticket_price.id" >
                                <li><a class="black white-text" v-on:click="param.ticket_price.label = ticket_price.name;param.ticket_price.min_value = ticket_price.min_value;param.ticket_price.max_value=ticket_price.max_value">{{ ticket_price.name }}</a></li>
                            </div>
                        </ul>

                    </div>
                    <div class="col m1 l2"></div>
                </div>
            </div>
            <div class="center container">
                <div class="row">
                    <div class="col m1 l2"></div>
                    <div class="col s12 m10 l8">   
                        <div class="center custom-text-on-image-container">
                            <h6 class='col s12 dropdown-trigger white-text custom-text-on-image-centered' href='#' data-target='distance-option'>{{ param.distance.label }}</h6>
                            <img src="./img/dropdown.png" class="center-align col s12" height="50" />
                        </div>
                        
                        <ul id='distance-option' class='dropdown-content'>
                            <div v-for="distance in distances" v-bind:key="distance.id" >
                                <li><a class="black white-text" v-on:click="param.distance.label = distance.name;param.distance.min_value = distance.min_value;param.distance.max_value=distance.max_value">{{ distance.name }}</a></li>
                            </div>
                        </ul>

                    </div>
                    <div class="col m1 l2"></div>
                </div>
            </div>
            <div v-show="param.category_choosed == 1" class="center container">
                <div class="row">
                    <div class="col m1 l2"></div>
                    <div class="col s12 m10 l8">   
                        <div class="center custom-text-on-image-container">
                            <h6 class='col s12 dropdown-trigger white-text custom-text-on-image-centered' href='#' data-target='age-option'>{{ param.age.label }}</h6>
                            <img src="./img/dropdown.png" class="center-align col s12" height="50" />
                        </div>
                        
                        <ul id='age-option' class='dropdown-content'>
                            <div v-for="age in ages" v-bind:key="age.id" >
                                <li><a class="black white-text" v-on:click="param.age.label = age.name;param.age.min_value = age.min_value;param.age.max_value=age.max_value">{{ age.name }}</a></li>
                            </div>
                        </ul>

                    </div>
                    <div class="col m1 l2"></div>
                </div>
            </div>

            <div class="center container">
                <div class="row">
                    <div class="col s2 m2 l4"></div>
                    <div class="center col s8 m8 l4">   
                        <div v-show="param.category_choosed != 1" class="center custom-text-on-image-container">
                            <h5 class="col s12 white-text custom-text-on-image-centered" v-on:click="getSAWResult">Cari</h5>
                            <img src="./img/cari.png" class="col s12" height="50" />
                        </div>
                        <div v-show="param.category_choosed == 1" class="center custom-text-on-image-container">
                            <h5 class="col s12 white-text custom-text-on-image-centered" v-on:click="getSAWResultGoa">Cari</h5>
                            <img src="./img/cari.png" class="col s12" height="50" />
                        </div>
                        <br /><br /><br />
                    </div>
                    <div class="col s2 m2 l4"></div>
                </div>
            </div>
                    
        </div>
        

        <!---- result ---->
        <div v-show="page.name == 'result-page'">
            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">
                        <img src="./img/logoa.png" class="responsive-img" height="150" />
                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>
            <div v-if="results.length > 0">
                <div class="container">
                    <div class="row">
                        <div class="col m2 l4"></div>
                        <div class="col s12">
                            <table style="width:100%;background-image : url('./img/choosed_2.png');background-repeat: no-repeat;background-size: 100% 100%;height:400px;">
                                <tr v-for="(result,index) in results" v-bind:key="result.id" v-show="index < 2">
                                    <td style="cursor: pointer;" v-on:click="getDetail(result.id)">
                                         <div :class="{'white-text':true,'right-align' : index % 2 != 0,'left-align' : index % 2 == 0,}">
                                            <br /><br /><h4> {{ result.nama }} </h4>
                                        </div> 
                                     </td>
                                </tr>
                                <tr v-show="results.length == 1">
                                    <td>
                                        <br /><br /><h4 :class="{'white-text':true,'right-align':true}">- Tidak ada Hasil -</h4>
                                    </td>
                                </tr>
                            </table>                            
                        </div>
                        <div class="col m2 l4"></div>
                    </div>
                </div>               
            </div>
            <div v-else>
                <div class="center container">
                    <div class="row">
                        <div class="col m2 l4"></div>
                        <div class="col s12">   
                            <p>-  Pariwisata tidak ditemukan -</p>
                            <br /><br />
                            <img v-on:click="toHome" src="./img/home.png" width="50" height="50" />
                        </div>
                        <div class="col m2 l4"></div>
                    </div>
                </div>

            </div>
            <br /><br /><br /><br />
            <br /><br /><br /><br />
        </div>

        <!---- detail ---->
        <div id="detail-page" v-show="page.name == 'detail-page'">

            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">
                        <img src="./img/logoa_white.png" class="responsive-img" height="150" />
                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>

            <div class="center container" style="background-image : url('./img/banner_bg.png');background-repeat: no-repeat;background-size: 100% 100%;">
                <div class="row">
                    <div class="col s12 white-text">
                        <h4>{{ detail.nama }}</h4>   
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12 white-text">   

                        <p>Lokasi : {{ detail.lokasi }} 
                            Jarak Dari Kota : {{ detail.jarak }} Km
                        </p>
                        <p>{{ detail.deskripsi }}</p>

                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>
            <div class="center container">
                <div class="row">
                    <div class="col m2 l4"></div>
                    <div class="col s12">   
                        <img v-on:click="toHome" src="./img/home.png" width="50" height="50" />                      
                    </div>
                    <div class="col m2 l4"></div>
                </div>
            </div>

        </div>
    </div>
    <!-- built files will be auto injected -->

    <!--  Scripts-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./js/materialize.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        const baseURL = "http://localhost:80/api/"
        new Vue({
            el: '#app',
            data() {
                return {
                    page : {
                        name : "loading-page",
                    },
                    categories : [{
                        id : 1,name : "Goa",img : "./img/category_goa.png"
                    },
                    {
                        id : 2,name : "Pantai",img : "./img/category_pantai.png"
                    },
                    {
                        id : 3,name : "Rekreasi",img : "./img/category_rekreasi.png"
                    }],
                    facilities : [{
                        id : 1,name : "Hotel"
                    },
                    {
                        id : 2,name : "Tempat Makan"
                    },
                    {
                        id : 3,name : "Tempat Ibadah"
                    },
                    {
                        id : 4,name : "Tempat Parkir"
                    }],
                    ticket_prices : [{
                        id : 1,name : "Rp 5.000",min_value:1000,max_value:5000
                    }, 
                    {
                        id : 2,name : "Rp 5.000 - Rp 10.000",min_value:5000,max_value:10000
                    },
                    {
                        id : 3,name : "Rp 10.000",min_value:10000,max_value:20000
                    }],
                    ages : [{
                        id : 1,name : "15 - 20 Tahun",min_value:15,max_value:20
                    }, 
                    {
                        id : 2,name : "20 - 25 Tahun",min_value:20,max_value:25
                    },
                    {
                        id : 3,name : "25 Tahun Keatas",min_value:25,max_value:50
                    }],
                    distances : [{
                        id : 1,name : "10 Km",min_value:1,max_value:10
                    }, 
                    {
                        id : 2,name : "10 - 20 Km",min_value:10,max_value:20
                    },
                    {
                        id : 3,name : "20 - 30 Km",min_value:20,max_value:30
                    },
                    {
                        id : 4,name : "30 - 40 Km",min_value:30,max_value:40
                    }],
                    param : {
                        category_choosed : 0,
                        facility : {
                            label : "Fasilitas Wisata",
                            value : "",
                        },
                        distance : {
                            label : "Jarak",
                            min_value : "",
                            max_value : ""
                        },
                        ticket_price : {
                            label : "Tiket Masuk",
                            min_value : "",
                            max_value : ""
                        },
                        age : {
                            label : "Pilih Umur",
                            min_value : "",
                            max_value : ""
                        }
                    },
                    results : [],
                    detail : {
                        id : 0,
                        kategori_id : 0,
                        nama : "",
                        lokasi : "",
                        jarak : 0,
                        deskripsi : "",
                    },
                    is_online : true
                }
            },    
            created() {
                window.addEventListener('offline', () => {
                    this.is_online = false
                })
                window.addEventListener('online', () => {
                    this.is_online = true
                })
            },
            mounted () {
                window.$('.dropdown-trigger').dropdown();
                setTimeout(() => this.page.name = "category-page", 1500);
            },
            methods : {
                switchPage(name){
                    this.page.name = name
                },
                chooseCategory(value){
                    this.param.category_choosed = value
                    this.switchPage("criteria-page")
                },
                getSAWResult(){

                    this.switchPage("loading-page")

                    let category = "kategori_id=" + this.param.category_choosed
                    let facility = "fasilitas_id=" + this.param.facility.value
                    let min_ticket_price = "min_tiket_masuk=" + this.param.ticket_price.min_value
                    let max_ticket_price = "max_tiket_masuk=" + this.param.ticket_price.max_value
                    let min_distance = "min_jarak=" + this.param.distance.min_value
                    let max_distance = "max_jarak=" + this.param.distance.max_value

                    axios
                        .get(baseURL + 'all_data_pariwisata_spk.php?'+ category +'&'+ facility +'&'+ min_ticket_price +'&'+ max_ticket_price+'&'+min_distance+'&'+max_distance)
                        .then(response => {
                            
                            this.results = response.data.data
                            this.switchPage("result-page")
                        })
                        .catch(errors => {

                            console.log(errors)
                            this.switchPage("result-page")
                        })  
                },
                getSAWResultGoa(){

                    this.switchPage("loading-page")
                    let category = "kategori_id=" + this.param.category_choosed
                    let facility = "fasilitas_id=" + this.param.facility.value
                    let min_ticket_price = "min_tiket_masuk=" + this.param.ticket_price.min_value
                    let max_ticket_price = "max_tiket_masuk=" + this.param.ticket_price.max_value
                    let min_distance = "min_jarak=" + this.param.distance.min_value
                    let max_distance = "max_jarak=" + this.param.distance.max_value
                    let min_age = "min_umur=" + this.param.age.min_value
                    let max_age = "max_umur=" + this.param.age.max_value

                    axios
                        .get(baseURL + 'all_data_pariwisata_spk_goa.php?'+ category +'&'+ facility +'&'+ min_ticket_price +'&'+ max_ticket_price+'&'+min_distance+'&'+max_distance+'&'+min_age+'&'+max_age)
                        .then(response => {
                            
                            this.results = response.data.data
                            this.switchPage("result-page")
                        })
                        .catch(errors => {

                            console.log(errors)
                            this.switchPage("result-page")
                        })  
                },
                getDetail(id){
                    
                    this.switchPage("loading-page")
                    axios
                        .get(baseURL + 'one_data_pariwisata.php?id=' + id)
                        .then(response => {
                            
                            this.detail = response.data.data
                            this.switchPage("detail-page")
                        })
                        .catch(errors => {

                            console.log(errors)
                            this.switchPage("detail-page")
                        }) 

                },
                toHome(){
                    this.param = {
                        category_choosed : 0,
                        facility : {
                            label : "Fasilitas Wisata",
                            value : "",
                        },
                        distance : {
                            label : "Jarak",
                            min_value : "",
                            max_value : ""
                        },
                        ticket_price : {
                            label : "Tiket Masuk",
                            min_value : "",
                            max_value : ""
                        },
                        age : {
                            label : "Pilih Umur",
                            min_value : "",
                            max_value : ""
                        }
                    }
                    this.switchPage("category-page")
                },
                onBackPress(){
                    
                    if (this.page.name == "detail-page"){
                        this.switchPage("result-page")
                    } else if (this.page.name == "result-page"){
                        this.switchPage("criteria-page")
                    } else if (this.page.name == "criteria-page"){
                        this.switchPage("category-page")
                    }
                },
            }
        })

    </script>
</body>

</html>